<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>LMONGOL</title>

    <link rel="stylesheet" href="/style/style.css" />
</head>
<body>
    <video id="background-video" src="/videos/azzouz.mp4" autoplay muted playsinline loop>
    </video>

    <div class="columns is-centered" id="title">
        <div class="column is-6">
            <h1 class="title is-1">lmongol</h1>
            <h4>sup ana gha mongol, makan3ref ndir ta7aja f7ayti, ghyerha.</h4>
            <br>
            <br>
            <div id="links">
		<a href="https://profile.intra.42.fr/users/mlalama">onlyfans</a> ∘
            </div >
        </div>
    </div>
</body>
</html>
